/*Comentari*/

div{
text-align: center;
height: 150px;
width: 250px;
color: white;
border-color: black;
background-color: #EA38ED;
border-style: solid;
border-width: 5px;
margin-bottom: 60px;
margin-left: 10px;
transition-property: color, width, background-color, border-radius;
transition-duration: .2s;
transition-timing-function: ease-ease-in;
transition-delay: .2s;
display:  inline-block;
}

#ichi{
padding-top: 15px;
border-top-left-radius: 10px;
border-top-right-radius: 25px;
border-bottom-left-radius: 40px;
border-bottom-right-radius:40px;


}

#ni{
padding-top: 15px;
border-style: solid;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius:0px;
background-image: linear-gradient(black, white);

}

#san{
padding-top: 15px;
border-style: solid;

background-image: radial-gradient(white, purple);
}

#yon{
padding-top: 15px;
border-style: solid;

background-image: repeating-radial-gradient(circle,white, green, white, green);

}

#shi{
/*transition*/

padding-top: 15px;
border-style: solid;

}

#go{
padding-top: 15px;
border-style: solid;
transform: translate(3,1);
}

#go:active{
transform: translate(30px, 20px);
transform:

}

#roku{
padding-top: 15px;
border-style: solid;
transform: rotate(-15deg);

}

#shichi{
padding-top: 15px;
border-style: solid;
transform: scale(0.6);

}

#hachi{
padding-top: 15px;
border-style: solid;
transform: skewY(20deg) skewX(10deg);

}


#shi:hover {
color: yellow ;
background-color: #772CA6;
border-radius: 80px;


}
#shi:active{
color: white;
background-color: black;
border-color: red;
border-radius: 80px;
height: 150px;
width: 150px;
background-image: repeating-radial-gradient(circle,yellow 30%,orange 30%,red 40%);

}
